body {
  background-color: #5A5A5A;
	font-family: verdana, serif;
}

.bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #757575;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.bar a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #F0F0F0;
  display: block;
  transition: 0.3s;
}

.bar a:hover {
  color: #D2A8F1;
}

.bar .closebtn {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.log{
	
	float:bottom;
	background-color:#EC4E20;
	font-size:15px;
	color:white;
	margin-top:100%;
	
}

.sok{
	background-color:white;
	float:top;
	color:grey;
	height:30px;
	text-align:center;
	line-height:30px;
	margin-left: 25px;
	margin-right:25px;
}
.huvud-kroppen {
  background-color: #f1f1f1;
  padding-left:150px;
  text-align: center;
}

.huvud{
  padding: 20px 70px;
  background: #555;
  color: #f1f1f1;
  height:15px;
  
}

.content {
  padding: 16px;
  
}s

.fast{
  position: fixed;
  top: 0;
  width: 100%;
}

.fast + .content {
  padding-top: 102px;
}

#introduktion {
  background: url("foto/introduktion.jpg");
  border-radius: 25px;
  padding: 20px; 
  width: 50%;
  height: 300px; 
  margin-top:30px;
  font-family:verdana;
  font-size: 30px;
  Color: white;
  text-align: center;
}
.beskrivning{
  border-radius: 25px;
  margin-top:30px;	
  font-family:verdana;
  font-size: 15px;
  Color: white;
  text-align: center;
  font-weight:bold;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#kategorier {
  border-radius: 15px 50px; 
  padding: 2%; 
  width: 10%;
  height: 10%; 
  margin-top:3%;
  font-family:verdana;
  Color: white;
  text-align:center;
  line-height: 150px;
}

.matematik {
	border:2px solid #EF959C;
	background:url("foto/matematik2.jpg");
	float:left;
	margin-left:20%;
	font-size: 20px;
}
 .programmering{
	border:2px solid #2DC2BD;
	background:url("foto/programmering.jpg");
	float:left;
	margin-left:2%;
	font-size:17.5px;
 }
 .fysik{
	border:2px solid #39A9DB;
	background:url("foto/fysik.jpg");
	float:left;
	margin-left:2%;
	font-size: 20px;
 }
 .kemi{
	border:2px solid #F39237;
	background:url("foto/kemi.jpg");
	float:left;
	margin-left:2%;
	font-size: 20px;
 }
 .biologi{
	border:2px solid #64B6AC;
	background:url("foto/biologi.jpg");
	float:left;
	margin-left:20%;
	font-size: 20px;
 }
 .svenska{
	border:2px solid #7C3238;
	background:url("foto/svenska.jpg");
	float:left;
	margin-left:2%;
	font-size:20px;
 }
 .samhalle{
	border:2px solid #C45675;
	background:url("foto/samhälle.jpg");
	float:left;
	margin-left:2%;
	font-size:20px;
 }
 
.cookies{
	background-color:white;
	color:black;
	border-radius:15px;
	width:25%;
	height:5%;
	float:right;
	float:bottom;
	margin-top:135px;
	text-align:center;
	line-height:35px;
	font-family:verdana;
	
}

.hem{
	border-radius: 15px 50px;
	background-color:#81A684;
	border:2px solid #57886C;
	color:#E2FCEF;
	margin-top:25px;
	margin-right:300px;
	font-family:verdana;
	height:10%;
	width:10%;
	float:top;
	float:right;
	text-align:center;
	line-height: 50px;
}

.tillbaka{
	border-radius: 15px 50px;
	background-color:#E39695;
	border:2px solid #DF7373;
	color:#F7DCD9;
	margin-top:25px;
	margin-left:300px;
	font-family:verdana;
	height:50px;
	width:150px;
	float:top;
	float:left;
	text-align:center;
	line-height: 50px;
}

.annan{
	border-radius: 15px 50px;
	background-color:#946E83;
	border:2px solid #8E5E78;
	color:white;
	margin-top:50px;
	margin-left:300px;
	font-family:verdana;
	height:25px;
	width:100px;
	float:top;
	float:right;
	text-align:center;
	line-height: 25px;
}

a:link{
	color:white;
	font-family:verdana;
	text-decoration:none;
	
}
a:visited{
	color:white;
	background-color:transparent;
	text-decoration:none;
}

a:hover{
	color:white;
	background-color:transparent;
	text-decoration:none;
}
a:active{
	color:white;
	background-color: transparent;
	text-decoration:none;
}

.amne{
	font-family:verdana;
	text-align:center;
	font-size:13px;
	color:#E8E8E8;
	margin-left:200px;
	
}

#s-amne {
  border-radius: 15px 50px; 
  padding: 20px; 
  width: 10%;
  height: 5%; 
  font-family:verdana;
  Color: white;
  text-align:center;
  line-height: 150px;
  margin-top:40px;
  letter-spacing:2px;
  font-size:25px;
  float:left;
  margin-left:50px;
}

.allmant{
	background-color:rgba(238,118,116,0.7);
	border: 4px solid #DC6D6B;
}

.inlagg{
	background-color:#82667F;
	border-radius: 20px;
	border: 2px solid #B486AB;
	height:250px;
	width:175px;
	margin: 30px;
	line-height:30px;
	text-align:center;
	font-size: 15px;
	float:left;

	
}

.s-bar{
	border-radius: 15px 45px; 
	background-color:white;
	width:150px;
	height:20px;
	float: right;
	float:top;
	margin-right:10px;
	margin-top:-10px;
}

.post{
	background-color:#A1A1A1;
	border-radius:20px;
	border: 2px solid #8D8D8D;
	height:1000px;
	width:60%;
	text-align:center;
	line-height:50px;
	margin-left:20%;
	margin-right:5%;
}

.x{
	font-size:30px;
	float:top;
	float:right;
	color:black;
	margin-right:15px;
}

.q{
	background-color:#CECECE;
	border-radius:20px;
	border:2px solid #C3C3C3;
	text-align:center;
	line-height:50px;
	width: 75%;
	height:15%;
	margin-left:100px;
	margin-right:100px;
	margin-top:40px;
}

.s{
	background-color:#EAC0D4;
	border-radius:20px;
	border:2px solid #DFAEB4;
	text-align:center;
	line-height:50px;
	width: 40%;
	height:10%;
	float:right;
	margin-top:40px;
	margin-right:100px;
}
.fs{
	background-color:#B3D89C;
	border-radius:20px;
	border:2px solid #629677;
	text-align:center;
	line-height:50px;
	width: 40%;
	height:10%;
	margin-top:40px;
	float:right;
	margin-right:100px;
}
.info {
	font-family:verdana;
	font-size:10px;
	float:bottom;
	float:left;
	color:#566573;
	letter-spacing:1px;
	margin-top:16%;
	margin-left:2%;
	
}
.upp{
	float:left;
	background-color:#FFB450;
	border: 2px solid #FFE77B;
	border-radius:15px;
	width:10%;
	height:40px;
	text-align:center;
	line-height:40px;
	margin:10px;

}
.mall{
	float:left;
	background-color:#E55EF5;
	border: 2px solid #CC42DC;
	border-radius:15px;
	width:10%;
	height:40px;
	text-align:center;
	line-height:40px;
	margin:10px;

}